* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	list-style: none;
	text-decoration: none;
}

:root {
	--main-color:#1f1f1f;
	--text-color:#1f1f1f;
	--bg-color:#ffff;
	--btn-color:#01a990;
	--big-font:4rem;
	--h2-font:2.25rem;
	--p-font:0.9rem;
}
*::selection {
	background: var(--main-color);
	color:#fff;
}
body{
	color: var(--text-color);
	background: var(--bg-color);
}
nav{
	position: fixed;
	z-index: 1000;
	height: 100px;
	width: 100%;
	background: #1f1f1f;
}
nav img{
	max-width: 100%;
	width: 200px;
	height: auto;
	margin-top: 16px;
	margin-left: 30px;
}
nav ul{
	float: right;
	margin-top: 20px;
	margin-right: 40px;

}
nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}
nav a{
	color: white;
	font-family: 'Poppins';
	font-size:18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}
a:hover{
	color: var(--btn-color);
	transition: .4s;
}
nav #icon{
	color: white;
	font-size: 30px;
	line-height:80px;
	float:right;
	margin-right:40px;
	cursor:pointer;
	display: none;
}
section{
	padding: 70px 17%;
}


.home{
	width: 100%;
	min-height: 90vh;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 1.5rem;
	align-items: center;
}
.home-img img{
	max-width: 100%;
	width: 600px;
	height: auto;
}
.home-text span{
	color: var(--main-color);
	font-weight: 600;
}
.home-text h2{
	font-size: var(--h2-font);
}
.home-text p{
	margin: 0.8rem 0 1.8rem;
	line-height: 1.7;
}
.btn{
	display: inline-block;
	padding: 5px 15px;
	background: var(--btn-color);
	color: #fff;
	border-radius: 0.5rem;
}
.btn:hover{
	transform: scale(1.2) translateY(10px);
	transition: .4s;
	color: #fff;
}

.about{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 1.5rem;
	align-items: center;
}
.about-img img{
	max-width: 100%;
	width: 480px;
	height: auto;
}
.about-text span{
	color: var(--main-color);
	font-weight: 600;
}
.about-text h2{
	font-size: var(--h2-font);
}
.about-text p{
	margin: 0.8rem 0 1.8rem;
	line-height: 1.7;
}


.heading{
	text-align: center;
}
.heading span{
	color: var(--main-color);
	font-weight: 600;
}
.heading h2{
	font-size: var(--h2-font);
}
.menu-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	grid-gap: 1.5rem;
	align-items: center;
}
.box{
	position: relative;
	margin-top: 4rem;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--main-color);
	padding: 20px;
	border-radius: 0.5rem;
}
.box-img{
	width: 220px;
	height: 220px;
}
.box-img img{
	width: 100%;
	height: 100%;
}
.box h2{
	font-size: 1.3rem;
	color: var(--bg-color);
}
.box h3{
	color: var(--bg-color);
	font-size: 1rem;
	font-weight: 400;
	margin: 4px 0 10px;
}
.box span{
	font-size: var(--p-font);
	color: #55524e;
	font-weight: 600px;
}
.box .bx{
	background: var(--main-color);
	position: absolute;
	right: 0;
	top: 0;
	font-size: 20px;
	padding: 7px 10px;
	border-radius: 0 0.5rem 0 0.5rem;
}

.service-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, auto));
	grid-gap: 1.5rem;
	margin-top: 4rem; 
}
.s-box{
	text-align: center;
	padding: 20px 30px;
}
.s-box img{
	width: 98px;
}
.s-box h3 li a{
	margin: 4px 0 10px;
	color: var(--main-color);
	font-size: 1.2rem;
}
.s-box h3 li a:hover{
	color: #25675d;
	transition: .2s;
}
.s-box p{
	line-height: 1.7;
}

.glr{
	background: transparent;
	padding: 70px 0;
	text-align: center;
	width: 66%;
	margin: 100px auto;
	border-radius: 0px;
}
.glr span{
	color: var(--main-color);
	font-weight: 600;
}
.glr h2{
	font-size: 2rem;
	color: var(--text-color);
	margin-bottom: 30px;
}
.glr .image-glr{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 10px;
}
.glr .image-glr .image{
	height: 200px;
	width: 200px;
	border: 2px solid #fff;
	box-shadow: 0 5px 15px rgba(0,0,.1);
	overflow: hidden;
	cursor: pointer;
}
.glr .image-glr .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: .2s linear;

}	
.glr .image-glr .image:hover img{
	transform: scale(1.1);
	-webkit-filter: grayscale(100%);
	/* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(100%);
	/* FF 35+ */
}




.cta{
	background: transparent;
	padding: 70px 0;
	text-align: center;
	width: 66%;
	margin: 100px auto;
	border-radius: 10px;
}
.cta h2{
	font-size: 2rem;
	color: var(--text-color);
	margin-bottom: 30px;
}
.main{
	display: flex;
	flex-wrap: wrap;
}

.footer-bottom{
	background: #000;
	width: 100%;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	color: #fff;
	word-spacing: 2px;
	text-transform: uppercase;

}
.footer-bottom span{
	text-transform: uppercase;
	color: var(--btn-color);
	opacity: ;
	font-weight: 200;
}

@media (max-width: 1140px){
	section{
		padding: 50px 8%;
	}
	nav ul{
		margin-right: 20px;
	}
	nav a{
		font-size: 17px;
	}
	
}
@media (max-width: 749px){
	nav #icon{
		display: block;
		margin-top: 20px;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: #1f1f1f;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;

	}
	nav a{
		font-size: 20px;
	}
	a:hover{
		border: none;
		color: var(--btn-color);
	}
	nav ul.show{
		left: 0;
	}
	.home{
	grid-template-columns: 1fr;
	text-align:center;
	}
	.about{
	grid-template-columns: 1fr;
	text-align: center;
	}
	.about-img{
	order:2;
	}
	section{
	padding: 100px 7%;
	}
}



